Advanced_Features_&_NodeRed_Dashboard/flows.json
[
    {
        "id": "369f2baf682a8951",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5b92c57909b0bda3",
        "type": "mqtt in",
        "z": "369f2baf682a8951",
        "name": "",
        "topic": "CSE-SUR-LIGHT-MAX",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a190f80ed9799186",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 60,
        "wires": [
            [
                "66c04323f2acdabb",
                "4da145766d32c4fa"
            ]
        ]
    },
    {
        "id": "401015dd2c53b62e",
        "type": "mqtt in",
        "z": "369f2baf682a8951",
        "name": "",
        "topic": "CSE-SUR-LIGHT-Side",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a190f80ed9799186",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 200,
        "wires": [
            [
                "cc3b0c6f087a6d57"
            ]
        ]
    },
    {
        "id": "4da145766d32c4fa",
        "type": "ui_chart",
        "z": "369f2baf682a8951",
        "name": "Light Intensity",
        "group": "621ebd4192083266",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Light Intensity",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 440,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "66c04323f2acdabb",
        "type": "ui_gauge",
        "z": "369f2baf682a8951",
        "name": "",
        "group": "621ebd4192083266",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Max Light",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 440,
        "y": 60,
        "wires": []
    },
    {
        "id": "eedd6b4f96230a9d",
        "type": "mqtt in",
        "z": "369f2baf682a8951",
        "name": "",
        "topic": "CSE-SUR-TEMP",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a190f80ed9799186",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 400,
        "wires": [
            [
                "4f89b85f36ba6be6"
            ]
        ]
    },
    {
        "id": "4f89b85f36ba6be6",
        "type": "delay",
        "z": "369f2baf682a8951",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 400,
        "wires": [
            [
                "715429e1bdf7bfdc",
                "8bd5a8012cb7e980"
            ]
        ]
    },
    {
        "id": "715429e1bdf7bfdc",
        "type": "ui_gauge",
        "z": "369f2baf682a8951",
        "name": "",
        "group": "5323c09e9c2fb1fd",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 670,
        "y": 400,
        "wires": []
    },
    {
        "id": "8bd5a8012cb7e980",
        "type": "ui_chart",
        "z": "369f2baf682a8951",
        "name": "",
        "group": "5323c09e9c2fb1fd",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature Variation",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 720,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "bd0da47c381635ae",
        "type": "ui_dropdown",
        "z": "369f2baf682a8951",
        "name": "",
        "label": "Presets",
        "tooltip": "",
        "place": "Select option",
        "group": "15174cc370361355",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Default",
                "value": "Default",
                "type": "str"
            },
            {
                "label": "Paracetamol",
                "value": "Paracetamol",
                "type": "str"
            },
            {
                "label": "Panadol",
                "value": "Panadol",
                "type": "str"
            },
            {
                "label": "Cetrizine",
                "value": "Cetrizine",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 1140,
        "wires": [
            [
                "0b30fb1c018d8ffd",
                "ea5d9cdb46aff652"
            ]
        ]
    },
    {
        "id": "0b30fb1c018d8ffd",
        "type": "function",
        "z": "369f2baf682a8951",
        "name": "function 7",
        "func": "if (msg.payload==\"Type A\"){\n    return {payload:20};\n} else if (msg.payload==\"Type B\") {\n    return {payload:25};\n} else if (msg.payload==\"Type C\") {\n    return {payload:65};\n} else {\n    return {payload:30}; \n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1140,
        "wires": [
            [
                "2be786b1a90e0f76"
            ]
        ]
    },
    {
        "id": "ea5d9cdb46aff652",
        "type": "function",
        "z": "369f2baf682a8951",
        "name": "function 8",
        "func": "if (msg.payload==\"Type A\"){\n    return {payload:0.12};\n} else if (msg.payload==\"Type B\") {\n    return {payload:0.55};\n} else if (msg.payload==\"Type C\") {\n    return {payload:0.39};\n} else {\n    return {payload:0.75}; \n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1200,
        "wires": [
            [
                "2f638f84f82ea837"
            ]
        ]
    },
    {
        "id": "2be786b1a90e0f76",
        "type": "ui_slider",
        "z": "369f2baf682a8951",
        "name": "",
        "label": "Minimum Angle",
        "tooltip": "",
        "group": "15174cc370361355",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": 1,
        "x": 600,
        "y": 1140,
        "wires": [
            [
                "faad338a73ff8462"
            ]
        ]
    },
    {
        "id": "2f638f84f82ea837",
        "type": "ui_slider",
        "z": "369f2baf682a8951",
        "name": "",
        "label": "Control Factor",
        "tooltip": "",
        "group": "15174cc370361355",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.1",
        "x": 600,
        "y": 1200,
        "wires": [
            [
                "016496034f6d1bcd"
            ]
        ]
    },
    {
        "id": "faad338a73ff8462",
        "type": "mqtt out",
        "z": "369f2baf682a8951",
        "name": "",
        "topic": "CSE-SUR-ANGLE",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a190f80ed9799186",
        "x": 810,
        "y": 1140,
        "wires": []
    },
    {
        "id": "016496034f6d1bcd",
        "type": "mqtt out",
        "z": "369f2baf682a8951",
        "name": "",
        "topic": "CSE-SUR-CONT-FACTOR",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a190f80ed9799186",
        "x": 840,
        "y": 1200,
        "wires": []
    },
    {
        "id": "428ecd5d905c9fc9",
        "type": "ui_switch",
        "z": "369f2baf682a8951",
        "name": "Schedule Switch",
        "label": "Switch",
        "tooltip": "",
        "group": "3514125ca76c4239",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 190,
        "y": 740,
        "wires": [
            [
                "d47ee706a98ec298"
            ]
        ]
    },
    {
        "id": "d47ee706a98ec298",
        "type": "change",
        "z": "369f2baf682a8951",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "isScheduled",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 740,
        "wires": [
            [
                "da108d30696002aa"
            ]
        ]
    },
    {
        "id": "2dd1f00df5eeeb31",
        "type": "ui_date_picker",
        "z": "369f2baf682a8951",
        "name": "",
        "label": "date",
        "group": "3514125ca76c4239",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 820,
        "wires": [
            [
                "4ca3485a2c649ecd"
            ]
        ]
    },
    {
        "id": "50a87bb44b51d145",
        "type": "ui_text_input",
        "z": "369f2baf682a8951",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "3514125ca76c4239",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 900,
        "wires": [
            [
                "e97b0877396e4d29"
            ]
        ]
    },
    {
        "id": "4ca3485a2c649ecd",
        "type": "change",
        "z": "369f2baf682a8951",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scheduleDate",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 820,
        "wires": [
            [
                "da108d30696002aa"
            ]
        ]
    },
    {
        "id": "e97b0877396e4d29",
        "type": "change",
        "z": "369f2baf682a8951",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scheduleTime",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 900,
        "wires": [
            [
                "da108d30696002aa"
            ]
        ]
    },
    {
        "id": "da108d30696002aa",
        "type": "function",
        "z": "369f2baf682a8951",
        "name": "function 9",
        "func": "let isScheduled = global.get(\"isScheduled\");\nlet scheduleDate = global.get(\"scheduleDate\");\nlet scheduleTime = global.get(\"scheduleTime\");\n\nif (isScheduled && scheduleDate && scheduleTime){\n    let schedule = scheduleDate + scheduleTime;\n\n    if (Date.now() > schedule){\n        return {\n            payload : \"OLDER DATE\"\n        }\n\n    }else {\n        return {\n            payload: schedule\n        }\n    }\n}else if (isScheduled === false){\n    return {\n        payload: \"NOT SCHEDULED\"\n    }\n}else {\n    return {\n        payload: null\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 740,
        "wires": [
            [
                "0217223efab4d1b6"
            ]
        ]
    },
    {
        "id": "0217223efab4d1b6",
        "type": "switch",
        "z": "369f2baf682a8951",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "NOT SCHEDULED",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OLDER DATE",
                "vt": "str"
            },
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 610,
        "y": 840,
        "wires": [
            [
                "902f132df09716b2"
            ],
            [
                "d6f5e7d0d6207ccb"
            ],
            [
                "df0088708d31ca5d"
            ],
            [
                "cb42482cc0ea1c17"
            ]
        ]
    },
    {
        "id": "902f132df09716b2",
        "type": "function",
        "z": "369f2baf682a8951",
        "name": "function 10",
        "func": "\nreturn {\n    payload : \"NOT\"\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 720,
        "wires": [
            [
                "14f782a692f2ec76"
            ]
        ]
    },
    {
        "id": "df0088708d31ca5d",
        "type": "function",
        "z": "369f2baf682a8951",
        "name": "function 11",
        "func": "\nreturn {\n    payload : Math.round(msg.payload/1000)\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 840,
        "wires": [
            [
                "14f782a692f2ec76"
            ]
        ]
    },
    {
        "id": "d6f5e7d0d6207ccb",
        "type": "function",
        "z": "369f2baf682a8951",
        "name": "function 12",
        "func": "\nreturn{\n    payload: \"Please enter a future time\"\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 780,
        "wires": [
            [
                "6e1fae454abad277"
            ]
        ]
    },
    {
        "id": "6e1fae454abad277",
        "type": "ui_toast",
        "z": "369f2baf682a8951",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 1030,
        "y": 840,
        "wires": []
    },
    {
        "id": "cb42482cc0ea1c17",
        "type": "function",
        "z": "369f2baf682a8951",
        "name": "function 13",
        "func": "\nreturn {\n    payload : \"Please enter a valid date and time\"\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 900,
        "wires": [
            [
                "6e1fae454abad277"
            ]
        ]
    },
    {
        "id": "14f782a692f2ec76",
        "type": "mqtt out",
        "z": "369f2baf682a8951",
        "name": "",
        "topic": "CSE-SUR-SCH-ON",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e76f813d5b7439c",
        "x": 1030,
        "y": 760,
        "wires": []
    },
    {
        "id": "a7e0b6d7f327bd3b",
        "type": "mqtt in",
        "z": "369f2baf682a8951",
        "name": "",
        "topic": "CSE-SUR-ON-OFF-SCH",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2e76f813d5b7439c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 660,
        "wires": [
            [
                "d812bb7b72fd45d6"
            ]
        ]
    },
    {
        "id": "d812bb7b72fd45d6",
        "type": "function",
        "z": "369f2baf682a8951",
        "name": "function 14",
        "func": "\nreturn {\n    payload: msg.payload === 1\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 660,
        "wires": [
            [
                "428ecd5d905c9fc9"
            ]
        ]
    },
    {
        "id": "ba725d171555e6dc",
        "type": "ui_switch",
        "z": "369f2baf682a8951",
        "name": "Main switch",
        "label": "Main switch",
        "tooltip": "",
        "group": "33f5df8461b87b2c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 750,
        "y": 580,
        "wires": [
            [
                "b742e4e21ef08a68"
            ]
        ]
    },
    {
        "id": "b742e4e21ef08a68",
        "type": "mqtt out",
        "z": "369f2baf682a8951",
        "name": "",
        "topic": "CSE-SUR-ON-OFF",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e76f813d5b7439c",
        "x": 1090,
        "y": 580,
        "wires": []
    },
    {
        "id": "8bc470b5032127fc",
        "type": "mqtt in",
        "z": "369f2baf682a8951",
        "name": "",
        "topic": "CSE-SUR-ON-OFF-ESP",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2e76f813d5b7439c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 580,
        "wires": [
            [
                "33297e921b63e13b"
            ]
        ]
    },
    {
        "id": "33297e921b63e13b",
        "type": "function",
        "z": "369f2baf682a8951",
        "name": "function 15",
        "func": "\nreturn {\n    payload: msg.payload === 1\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 580,
        "wires": [
            [
                "ba725d171555e6dc"
            ]
        ]
    },
    {
        "id": "7cb2b4364f4d7e73",
        "type": "ui_text",
        "z": "369f2baf682a8951",
        "group": "621ebd4192083266",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "LDR",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "cc3b0c6f087a6d57",
        "type": "function",
        "z": "369f2baf682a8951",
        "name": "function 17",
        "func": "if (msg.payload == 0) {\n    msg.payload = \"Left\";\n} else if (msg.payload == 1) {\n    msg.payload = \"Right\";\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 220,
        "wires": [
            [
                "7cb2b4364f4d7e73"
            ]
        ]
    },
    {
        "id": "a190f80ed9799186",
        "type": "mqtt-broker",
        "name": "",
        "broker": "https://test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "621ebd4192083266",
        "type": "ui_group",
        "name": "Light",
        "tab": "d6746e993586d96b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5323c09e9c2fb1fd",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "d6746e993586d96b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "15174cc370361355",
        "type": "ui_group",
        "name": "Servo Motor",
        "tab": "d6746e993586d96b",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3514125ca76c4239",
        "type": "ui_group",
        "name": "Schedule",
        "tab": "d6746e993586d96b",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2e76f813d5b7439c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "33f5df8461b87b2c",
        "type": "ui_group",
        "name": "Switch",
        "tab": "d6746e993586d96b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d6746e993586d96b",
        "type": "ui_tab",
        "name": "MediBox",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]